fastapi==0.115.11
uvicorn[standard]==0.34.0
firebase-admin==6.6.0
python-multipart==0.0.20
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
gunicorn==23.0.0
httpx==0.28.1
aiohttp==3.11.12
requests==2.32.3
qrcode==7.4.2